<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="filter-item">
            <label class="ub-dropdown-label">Race type:</label>
            <ub-dropdown-list 
                [listItems]="listOfRaceTypes"
                [defaultListItem]="defaultNextToGoRace" 
                (onListItemSelect)="filterRaces($event)">
            </ub-dropdown-list>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="filter-item">
            <label class="ub-dropdown-label">Jurisdiction:</label>
            <ub-dropdown-list 
                [listItems]="listOfJurisdiction" 
                [defaultListItem]="defaultJurisdiction"
                (onListItemSelect)="switchJurisdiction($event)">
            </ub-dropdown-list>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Next to Go</h4>
            </div>
            <div class="card-body">
                <ub-progress-bar *ngIf="inProgress"></ub-progress-bar>
                <ub-next-race [nextRaces]="nextToGoRaces"></ub-next-race>  
            </div>
        </div>
    </div>
</div>