/* add global styles to this file, and also import other style files */

html {
    position: relative;    
    // font-size: 62.5%;
}

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
    